{% extends "aluno/base.html" %}
{% load static %}

{% block title %}Log de Faltas - Admin{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-10">
            <div class="panel">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col col-sm-3 col-xs-12">
                            <h4 class="title">Track <span>Faltas</span></h4>
                        </div>
                        <div class="col-sm-9 col-xs-12 text-right">
                            <div class="btn_group">
                                <a href="/menu_faltas" class="btn btn-default" title="Menu"><i class="fa-solid fa-house"></i></a>
                                <a href="{% url 'download_excel' %}" class="btn btn-default" title="Exportar Excel"><i class="fas fa-file-excel"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-body table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Nome Completo</th>
                                <th style="text-align: center;">Data das Faltas</th>
                                <th>Ação</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for aluno in alunos %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ aluno.name }}</td>
                                <td style="text-align: center;">
                                    {% for falta in aluno.faltas.all %}
                                        {{ falta.data }}<br>
                                    {% empty %}
                                        Nenhuma falta registrada
                                    {% endfor %}
                                </td>
                                <td>
                                    <ul class="action-list">
                                        <li><a href="{% url 'editar' aluno.id %}" title="Editar"><i class="fa-regular fa-pen-to-square"></i></a></li>
                                        <li><a href="{% url 'deletar_aluno' aluno.id %}" title="Deletar"><i class="fa-solid fa-trash"></i></a></li>
                                    </ul>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}