{% extends "aluno/base.html" %}
{% load static %}

{% block title %}Log de Faltas - Usuário{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-10">
            <div class="panel">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col col-sm-3 col-xs-12">
                            <h4 class="title">Track <span>Faltas</span></h4>
                        </div>
                        <div class="col-sm-9 col-xs-12 text-right">
                            <div class="btn_group">
                                <a href="/menu_faltas_user" class="btn btn-default" title="Menu"><i class="fa-solid fa-house"></i></a>
                                <a href="/login" class="btn btn-default" title="Logout"><i class="fa-solid fa-right-to-bracket"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-body table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Nome Completo</th>
                                <th style="text-align: center;">Data das Faltas</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for aluno in alunos %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ aluno.name }}</td>
                                <td style="text-align: center;">
                                    {% for falta in aluno.faltas.all %}
                                        {{ falta.data }}<br>
                                    {% empty %}
                                        Nenhuma falta registrada
                                    {% endfor %}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}