{% extends "aluno/base.html" %}
{% load static %}

{% block title %}Registrar Aluno{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'registrar/registrar.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <div class="frame" role="form">
        <form class="form-signin" action="" method="post" aria-label="Formulário de Registro de Aluno">
            {% csrf_token %}
            
            <h1 class="form-title">Registrar Aluno</h1>



            <label for="username">Nome Completo</label>
            <input class="form-styling" type="text" name="username" id="username" placeholder="Digite o nome do aluno" required aria-required="true" />

            <label for="semestre">Semestre</label>
            <input class="form-styling" type="number" name="semestre" id="semestre" placeholder="Digite o semestre" min="1" max="2" required aria-required="true" />

            <button type="submit" class="btn-animate">Registrar</button>
        </form>
    </div>
</div>
{% endblock %}

{% block extra_js %}
    <script src="{% static 'registrar/registrar.js' %}"></script>
{% endblock %}