{% extends "aluno/base.html" %}
{% load static %}

{% block title %}Registrar Aluno{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'registrar/registrar.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <div class="frame">
        <div class="nav">
            <ul class="links">
                <li class="signin-active"><a class="btn">Registrar Aluno</a></li>
            </ul>
        </div>
        <form class="form-signin" action="" method="post">
            {% csrf_token %}
            <label for="username">Nome Completo</label>
            <input class="form-styling" type="text" name="username" id="username" placeholder="Digite o nome do aluno" required />

            <label for="semestre">Semestre</label>
            <input class="form-styling" type="number" name="semestre" id="semestre" placeholder="Digite o semestre" min="1" max="2" required />

            <div class="btn-animate">
                <button type="submit" class="btn-signin">Registrar</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block extra_js %}
    <script src="{% static 'registrar/registrar.js' %}"></script>
{% endblock %}